/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter', sans-serif;
  --accent-font: 'PressStart2P', fantasy;
  --text-weight: 410;
  --title-weight: 715;
  --page-background:
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),

    repeating-linear-gradient(
      0deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),

    linear-gradient(
      180deg,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );

  --content-width: clamp(375px, calc(100vw), 700px);
  --header-padding-top: 100px;
  --header-padding-bottom: 98px;
  --logo-main-size: clamp(49px, 5vw, 65px);
  --logo-subtitle-size: clamp(14px, 2.5vw, 23px);
  --card-title-weight:715;
  --label-color: #000000;
  --label-outline-color: #fff;
  --button-text-color: #fff;
  --accent-color: #000;
  --contour-color: #000;
  --animation-fill-color: #000;
  --animation-active-color: red;
  --animation-click-color:red;
}